<!DOCTYPE html>
<html>
  <head>
    <title>Seikatu</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/c1b1cd6975.js" crossorigin="anonymous"></script>


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <header>
    <div class="home">
      <%= link_to habits_path do %>
        <%= image_tag 'Life plus白_丸.png', alt: "Life Plus", class: "rogo" %>
      <%end%>
    </div>


    <div class="header-list">
      <ul>
      <div class="login"> 
        <% if user_signed_in? %>
         <%= link_to destroy_user_session_path, class: "btn btn btn-secondary text-white", method: :get do %>
          <i class="fa-solid fa-arrow-right-from-bracket"></i>
        <% end %> 
        <% else %>
        <li><%= link_to "新規登録", new_user_registration_path %></li>
        <li><%= link_to "ログイン", new_user_session_path %></li>
        <% end %>
      </ul>
      
      <div class="post">
        <%= link_to new_habit_path, class: "btn btn btn-secondary text-white", method: :get do %>
          <i class="fa-solid fa-marker"></i>
        <%end%>
      </div>

      <div class="calender"> 
       <% if user_signed_in? %>
        <%= link_to user_path(current_user.id), class: "btn btn btn-secondary text-white", method: :get do %>
         <i class="fa-solid fa-calendar-days"></i>
        <% end %>
       <% end %>
      </div>
    </div>
   </header>
   <main>
    <%= yield %>
   </main>
  </body>
</html>
